.watch-list__img {
  width: 100px;
  height: 150px;
  display: block;
  margin-right: 15px;
}

.watch-list__card {
  list-style: none;
  margin-bottom: 50px;
  width: 95%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
